.box {
    height: 30px;
    width: 116px;
    font-size: 15px;
    font-style: italic;
    outline: none;
}

#operators {
    height: 120px;
}

.calc-row {
    height: 60px;
}

.operation {
    background-color: #b0b0b0;
    display: inline;
    float: left;
    height: 45px;
    width: 45px;
    font-size: 35px;
    line-height: 40px;
    border-radius: 5px;
    margin: 5px 5px;
    text-align: center;
    border: 2px solid black;
    cursor: default;
}

.operation:hover {
    background-color: #f60;
    color: white;
}

#total {
    display: block;
    font-family: Arial;
    font-size: 25px;
    height: 32px;
}

#clear{background-color: #b0b0b0;
    display: inline;
    float: left;
    height: 30px;
    width: 106px;
    line-height: 30px;
    border-radius: 5px;
    margin: 5px 5px;
    text-align: center;
    border: 2px solid black;
    cursor: default;
}

#clear:hover {
    background-color: #f60;
    color: white;
}